In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('aisdk_20110301.csv')
print(df.head(5))

                     t       shipid         lon        lat  speed  course
0  01/03/2011 00:00:00  219000818.0    9.889237  55.270373    0.0     4.0
1  01/03/2011 00:00:00  265513470.0   12.687850  56.044867    0.0   216.2
2  01/03/2011 00:00:00  258069000.0  181.000000  91.000000    NaN     NaN
3  01/03/2011 00:00:00    2194006.0    5.033400  55.538917    NaN     NaN
4  01/03/2011 00:00:00  211904000.0   11.068557  56.468103    7.5   169.1

In [7]:
df = df.rename(columns={
    '# Timestamp': 't',
    'MMSI': 'shipid',
    'Longitude': 'lon',
    'Latitude': 'lat',
    'SOG': 'speed',
    'COG': 'course'
})

In [9]:
df = df.rename(columns={
    'Timestamp': 't'
})

In [10]:
print(df.head(5))

                     t Type of mobile       shipid        lat         lon  \
0  01/03/2011 00:00:00        Class A  219000818.0  55.270373    9.889237
1  01/03/2011 00:00:00        Class A  265513470.0  56.044867   12.687850
2  01/03/2011 00:00:00        Class A  258069000.0  91.000000  181.000000
3  01/03/2011 00:00:00   Base Station    2194006.0  55.538917    5.033400
4  01/03/2011 00:00:00        Class A  211904000.0  56.468103   11.068557

      Navigational status  ROT  speed  course  Heading  ...         Name  \
0  Under way using engine  NaN    0.0     4.0      NaN  ...          NaN
1           Unknown value  NaN    0.0   216.2      NaN  ...          NaN
2           Unknown value  NaN    NaN     NaN      NaN  ...  ENERGY SWAN
3           Unknown value  NaN    NaN     NaN      NaN  ...          NaN
4  Under way using engine  0.4    7.5   169.1    171.0  ...          NaN

   Ship type Cargo type Width Length  Type of position fixing device  Draught  \
0  Undefined        NaN   NaN    NaN                       Undefined      NaN
1  Undefined        NaN   NaN    NaN                       Undefined      NaN
2      Cargo        NaN  19.0   93.0                             GPS      6.0
3  Undefined        NaN   NaN    NaN                        Surveyed      NaN
4  Undefined        NaN   NaN    NaN                       Undefined      NaN

    Destination                  ETA Data source type
0           NaN                  NaN              AIS
1           NaN                  NaN              AIS
2  MAERSK GIANT  01/03/2011 02:00:00              AIS
3           NaN                  NaN              AIS
4           NaN                  NaN              AIS

[5 rows x 22 columns]

In [11]:
# Keep only the specified columns
df = df[['t', 'shipid', 'lon', 'lat', 'speed', 'course']]
print(df.head(5))
df.to_csv('aisdk_20110301.csv', index=False)

                     t       shipid         lon        lat  speed  course
0  01/03/2011 00:00:00  219000818.0    9.889237  55.270373    0.0     4.0
1  01/03/2011 00:00:00  265513470.0   12.687850  56.044867    0.0   216.2
2  01/03/2011 00:00:00  258069000.0  181.000000  91.000000    NaN     NaN
3  01/03/2011 00:00:00    2194006.0    5.033400  55.538917    NaN     NaN
4  01/03/2011 00:00:00  211904000.0   11.068557  56.468103    7.5   169.1

In [12]:
df_2000 = df.head(2000)
df_2000.to_csv('aisdk_20110301_2000.csv', index=False)

In [16]:
#10% 
df_10 = df.sample(frac=0.1)
df_10.to_csv('aisdk_20110301_10.csv', index=False)